<h1><%= @doctor.name %>'s Show Page<h1>

<p>Name: <%= @doctor.name %></p>
<p>Specialty: <%= @doctor.specialty %></p>
<p>University: <%= @doctor.university %></p>
<p>Working at <%= @doctor.hospital.name %> Hospital</p>

<h3>Doctor <%= @doctor.name %>'s Patients:</h3>
<ul>
  <% @doctor.doctor_patients.each do |doctor_patient| %>
    <li id="doctor_patient_id_<%= doctor_patient.id %>"><%= doctor_patient.patient.name %>
    <%= button_to "Remove", doctor_patient, method: :delete %></li>
  <% end %>
</ul>